{{ define "main" }}
<div class="container">
  {{ partial "breadcrumbs.html" . }}
  <article class="prose">
    <h1>{{ .Title }}</h1>
    <div class="article-meta">
      {{ if not .Date.IsZero }}<time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2.1.2006." }}</time>{{ end }}
      {{ if .Params.tags }}<span>{{ range .Params.tags }}<span class="tag" data-k="{{ . | urlize }}">{{ . }}</span>{{ end }}</span>{{ end }}
      {{ if eq .Type "blog" }}<span>{{ .ReadingTime }} {{ i18n "min_read" }}</span>{{ end }}
    </div>
    {{ .Content }}
    {{ if eq .Type "blog" }}
    <hr>
    <p><a href="{{ "/blog/" | relLangURL }}">← {{ i18n "back_to_blog" }}</a></p>
    {{ end }}
  </article>
</div>
{{ end }}
